In [52]:
from pyspark.sql import SparkSession

In [53]:
spark = (
    SparkSession.
    builder.
    config("spark.sql.warehouse.dir", "/home/deepak/programs/python/sparkLearn/spark-warehouse").
    config("javax.jdo.option.ConnectionURL", "jdbc:derby:/home/deepak/programs/python/sparkLearn/metastore_db;create=true").
    config("spark.sql.catalogImplementation", "hive").
    enableHiveSupport().
    appName('SQL').
    getOrCreate()
)

25/10/05 12:24:03 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [30]:
# 1️⃣ spark.sql.warehouse.dir
# This sets the **location where Spark stores managed table data**.
# Managed tables are created using CREATE TABLE without an explicit LOCATION.
# Example:
#   If you run "CREATE TABLE demo (id INT)", the table's data files
#   will be stored inside this directory.
# warehouse_dir = "/home/deepak/programs/python/sparkLearn/DifferentSources/spark-warehouse"

# 2️⃣ javax.jdo.option.ConnectionURL
# This tells Spark **where the Hive metastore database is located**.
# Spark uses Derby (embedded DB) if no external metastore is configured.
# By pointing it to a path, Spark persists **table metadata** across sessions.
# "create=true" ensures the metastore is created if it doesn't exist.
# metastore_url = "jdbc:derby:/home/deepak/programs/python/sparkLearn/metastore_db;create=true"

# 3️⃣ spark.sql.catalogImplementation
# This specifies the **catalog type Spark will use**.
# Options:
#   - "in-memory": default temporary catalog, disappears when session ends
#   - "hive": uses a Hive metastore to persist table metadata
# Setting this to "hive" ensures tables are persistent across sessions.
# catalog_impl = "hive"

In [26]:
spark.sql("""
show catalogs
""").show()

+-------------+
|      catalog|
+-------------+
|spark_catalog|
+-------------+

In [27]:
spark.sql("""
show databases in spark_catalog
""").show()

25/10/05 12:04:36 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
25/10/05 12:04:36 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore deepak@127.0.1.1
25/10/05 12:04:36 WARN ObjectStore: Failed to get database default, returning NoSuchObjectException

+---------+
|namespace|
+---------+
|  default|
+---------+

In [28]:
spark.sql("""
show tables in default
""").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [29]:
spark.conf.get("spark.sql.catalogImplementation")

'hive'

In [38]:
spark.sql('drop table flights')

DataFrame[]

In [39]:
spark.sql("""
CREATE TABLE spark_catalog.default.flights (
DEST_COUNTRY_NAME STRING, ORIGIN_COUNTRY_NAME STRING, count
LONG)
USING JSON OPTIONS (path '/home/deepak/programs/python/sparkLearn/data/flight-data/json/2015-summary.json')
""")

25/10/05 12:15:01 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider JSON. Persisting data source table `spark_catalog`.`default`.`flights` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

DataFrame[]

In [41]:
spark.sql('show tables').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default|  flights|      false|
+---------+---------+-----------+

In [48]:
spark.sql('DESCRIBE EXTENDED FLIGHTS').show(truncate=False)

+----------------------------+------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                           |comment|
+----------------------------+------------------------------------------------------------------------------------+-------+
|DEST_COUNTRY_NAME           |string                                                                              |NULL   |
|ORIGIN_COUNTRY_NAME         |string                                                                              |NULL   |
|count                       |bigint                                                                              |NULL   |
|                            |                                                                                    |       |
|# Detailed Table Information|                                                                                    |       |
|Catalog                     |spark_catalog                                                                       |       |
|Database                    |default                                                                             |       |
|Table                       |flights                                                                             |       |
|Owner                       |deepak                                                                              |       |
|Created Time                |Sun Oct 05 12:15:01 IST 2025                                                        |       |
|Last Access                 |UNKNOWN                                                                             |       |
|Created By                  |Spark 4.0.1                                                                         |       |
|Type                        |EXTERNAL                                                                            |       |
|Provider                    |JSON                                                                                |       |
|Location                    |file:/home/deepak/programs/python/sparkLearn/data/flight-data/json/2015-summary.json|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                  |       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat                                    |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat                           |       |
+----------------------------+------------------------------------------------------------------------------------+-------+

In [49]:
spark.sql("""
    create table flights_csv (
        DEST_COUNTRY_NAME STRING,
        ORIGIN_COUNTRY_NAME STRING COMMENT "remember, the US will be most prevalent",
        count LONG
    ) using csv options (header true, path '/home/deepak/programs/python/sparkLearn/data/flight-data/csv')
""")

25/10/05 12:22:51 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `spark_catalog`.`default`.`flights_csv` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

DataFrame[]

In [50]:
spark.sql('DESCRIBE EXTENDED FLIGHTS_CSV').show(truncate=False)

+----------------------------+-----------------------------------------------------------------+---------------------------------------+
|col_name                    |data_type                                                        |comment                                |
+----------------------------+-----------------------------------------------------------------+---------------------------------------+
|DEST_COUNTRY_NAME           |string                                                           |NULL                                   |
|ORIGIN_COUNTRY_NAME         |string                                                           |remember, the US will be most prevalent|
|count                       |bigint                                                           |NULL                                   |
|                            |                                                                 |                                       |
|# Detailed Table Information|                                                                 |                                       |
|Catalog                     |spark_catalog                                                    |                                       |
|Database                    |default                                                          |                                       |
|Table                       |flights_csv                                                      |                                       |
|Owner                       |deepak                                                           |                                       |
|Created Time                |Sun Oct 05 12:22:51 IST 2025                                     |                                       |
|Last Access                 |UNKNOWN                                                          |                                       |
|Created By                  |Spark 4.0.1                                                      |                                       |
|Type                        |EXTERNAL                                                         |                                       |
|Provider                    |csv                                                              |                                       |
|Location                    |file:/home/deepak/programs/python/sparkLearn/data/flight-data/csv|                                       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe               |                                       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat                 |                                       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat        |                                       |
|Storage Properties          |[header=true]                                                    |                                       |
+----------------------------+-----------------------------------------------------------------+---------------------------------------+

In [51]:
spark.sql('select * from flights_csv').show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [54]:
spark.sql("""
    create table managed_table (
        NAME STRING,
        AGE INTEGER
    )
""")

DataFrame[]

In [57]:
spark.sql("""
insert into managed_table values ('deepak', 24)
""")

DataFrame[]

In [59]:
spark.sql('select * from managed_table').show()

+------+---+
|  NAME|AGE|
+------+---+
|deepak| 24|
+------+---+

In [60]:
spark.sql("""
insert into managed_table values ('Krish', 27)
""")

DataFrame[]

In [61]:
spark.sql('select * from managed_table').show()

+------+---+
|  NAME|AGE|
+------+---+
|deepak| 24|
| Krish| 27|
+------+---+

In [ ]:
spark.sql('describe history managed_table').show() # this will not work because the default table it parquet not delta

{"ts": "2025-10-05 12:28:32.118", "level": "ERROR", "logger": "SQLQueryContextLogger", "msg": "[TABLE_OR_VIEW_NOT_FOUND] The table or view `history` cannot be found. Verify the spelling and correctness of the schema and catalog.\nIf you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.\nTo tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS. SQLSTATE: 42P01", "context": {"errorClass": "TABLE_OR_VIEW_NOT_FOUND"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o106.sql.\n: org.apache.spark.sql.AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `history` cannot be found. Verify the spelling and correctness of the schema and catalog.\nIf you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.\nTo tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS. SQLSTATE: 42P01; line 1 pos 9;\n'DescribeColumn 'managed_table, false, [info_name#335, info_value#336]\n+- 'UnresolvedTableOrView [history], DESCRIBE TABLE, true\n\n\tat org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.tableNotFound(package.scala:91)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:303)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\tat scala.util.Try$.apply(Try.scala:217)\n\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\tat org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)\n\tat org.apache.spark.util.LazyTry.get(LazyTry.scala:58)\n\tat org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)\n\tat org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)\n\tat org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$5(Dataset.scala:139)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:136)\n\tat org.apache.spark.sql.classic.SparkSession.$anonfun$sql$1(SparkSession.scala:462)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.classic.SparkSession.sql(SparkSession.scala:449)\n\tat org.apache.spark.sql.classic.SparkSession.sql(SparkSession.scala:467)\n\tat jdk.internal.reflect.GeneratedMethodAccessor17.invoke(Unknown Source)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:580)\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\n\tat py4j.Gateway.invoke(Gateway.java:282)\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\n\tat java.base/java.lang.Thread.run(Thread.java:1583)\n\tSuppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller\n\t\tat org.apache.spark.sql.catalyst.analysis.package$AnalysisErrorAt.tableNotFound(package.scala:91)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:303)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\t\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\t\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\t\tat scala.util.Try$.apply(Try.scala:217)\n\t\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\t\tat org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)\n\t\tat org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)\n\t\t... 21 more\n", "stacktrace": [{"class": null, "method": "deco", "file": "/home/deepak/anaconda3/envs/ai_data/lib/python3.13/site-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/home/deepak/anaconda3/envs/ai_data/lib/python3.13/site-packages/py4j/protocol.py", "line": "327"}]}}

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `history` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS. SQLSTATE: 42P01; line 1 pos 9;
'DescribeColumn 'managed_table, false, [info_name#335, info_value#336]
+- 'UnresolvedTableOrView [history], DESCRIBE TABLE, true

In [56]:
spark.sql(
    'DESCRIBE EXTENDED managed_table'
).show(truncate=False)

+----------------------------+-------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                  |comment|
+----------------------------+-------------------------------------------------------------------------------------------+-------+
|NAME                        |string                                                                                     |NULL   |
|AGE                         |int                                                                                        |NULL   |
|                            |                                                                                           |       |
|# Detailed Table Information|                                                                                           |       |
|Catalog                     |spark_catalog                                                                              |       |
|Database                    |default                                                                                    |       |
|Table                       |managed_table                                                                              |       |
|Owner                       |deepak                                                                                     |       |
|Created Time                |Sun Oct 05 12:25:21 IST 2025                                                               |       |
|Last Access                 |UNKNOWN                                                                                    |       |
|Created By                  |Spark 4.0.1                                                                                |       |
|Type                        |MANAGED                                                                                    |       |
|Provider                    |parquet                                                                                    |       |
|Location                    |file:/home/deepak/programs/python/sparkLearn/DifferentSources/spark-warehouse/managed_table|       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe                                |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat                              |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat                             |       |
+----------------------------+-------------------------------------------------------------------------------------------+-------+

In [ ]:
spark.sql("""
    create table delta_managed_table (
        NAME STRING,
        AGE INTEGER
    ) using csv
""")

25/10/05 15:09:46 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `spark_catalog`.`default`.`delta_managed_table` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

DataFrame[]

In [65]:
spark.sql("""
    create table managed_table_csv (
        NAME STRING,
        AGE INTEGER
    ) using csv
""")

25/10/05 15:11:26 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider csv. Persisting data source table `spark_catalog`.`default`.`managed_table_csv` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.

DataFrame[]

In [66]:
spark.sql("""
insert into managed_table_csv values ('deepak', 24)
""")

DataFrame[]

In [67]:
spark.sql(
    'DESCRIBE EXTENDED managed_table_csv'
).show(truncate=False)

+----------------------------+-----------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                      |comment|
+----------------------------+-----------------------------------------------------------------------------------------------+-------+
|NAME                        |string                                                                                         |NULL   |
|AGE                         |int                                                                                            |NULL   |
|                            |                                                                                               |       |
|# Detailed Table Information|                                                                                               |       |
|Catalog                     |spark_catalog                                                                                  |       |
|Database                    |default                                                                                        |       |
|Table                       |managed_table_csv                                                                              |       |
|Owner                       |deepak                                                                                         |       |
|Created Time                |Sun Oct 05 15:11:28 IST 2025                                                                   |       |
|Last Access                 |UNKNOWN                                                                                        |       |
|Created By                  |Spark 4.0.1                                                                                    |       |
|Type                        |MANAGED                                                                                        |       |
|Provider                    |csv                                                                                            |       |
|Location                    |file:/home/deepak/programs/python/sparkLearn/DifferentSources/spark-warehouse/managed_table_csv|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                             |       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat                                               |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat                                      |       |
+----------------------------+-----------------------------------------------------------------------------------------------+-------+

In [23]:
spark.stop()